<div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a class='navbar-brand'></a>
          <ul class='nav navbar-nav'>
              <li  class="nav-item active">
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
              <li><a [routerLink]="['/employee']" routerLinkActive="active">Employee</a></li>
          </ul>
      </div>
  </nav>
</div>
