<app-header></app-header>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8">
          <h2>Employee <b>Details</b></h2>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-info add-new" (click)="addemployees()"><i class="fa fa-plus" ></i> Add New Employee</button>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let header of headerList">{{header}}</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let row of employeeList">
          <td *ngFor="let column of headerList">
            {{row[column]}}
          </td>
          <td>
            <button type="button" (click)="editEmployee(row)">Edit</button>
            <button type="button">Delete</button>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="isedit || isadd" style=" margin: auto;
border: 3px solid green;
padding: 10px;">
  <div [hidden]="submitted">
    <h1>Employee Form</h1>
    <form [formGroup]="employeeForm">
      <div class="form-group">
        <label for="name">UserID</label>
        <input type="text" class="form-control" id="userid" formControlName="empid">
        <span
        *ngIf="((employeeForm.controls['empid']?.errors) &&(employeeForm.controls['empid']?.dirty || employeeForm.controls['empid']?.touched ))"
        style="color:red">
        <span *ngIf="(employeeForm.controls['empid']?.errors?.required)">User Id is required!</span>
        <span *ngIf="(!employeeForm.controls['empid']?.errors?.required)"> User Id  is invalid</span>
    </span>
      </div>

      <div class="form-group">
        <label for="alterEgo">Job Title</label>
        <input type="text" class="form-control" id="userid" formControlName="jobtitle">
        <span
        *ngIf="((employeeForm.controls['jobtitle']?.errors) &&(employeeForm.controls['jobtitle']?.dirty || employeeForm.controls['jobtitle']?.touched ))"
        style="color:red">
        <span *ngIf="(employeeForm.controls['jobtitle']?.errors?.required)">Job Title is required!</span>
        <span *ngIf="(!employeeForm.controls['jobtitle']?.errors?.required)"> Job Title is invalid</span>
    </span>      </div>

      <div class="form-group">
        <label for="power">Name</label>
        <input type="text" class="form-control" id="userid" formControlName="name">
        <span
        *ngIf="((employeeForm.controls['name']?.errors) &&(employeeForm.controls['name']?.dirty || employeeForm.controls['name']?.touched ))"
        style="color:red">
        <span *ngIf="(employeeForm.controls['name']?.errors?.required)">User Name is required!</span>
        <span *ngIf="(!employeeForm.controls['name']?.errors?.required)"> User Name  is invalid</span>
    </span>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit()" >Save</button> &nbsp;
      <button type="submit" class="btn btn-success"(click)="cancel()" >Cancel</button>

    </form>
  </div>
</div>
